.dropdown{
position:relative;
display:inline-block;
}

.dropdown-content{
display:none;
position:absolute;
background-color:#555;
width:100%;

}

.dropdownbtn{
background-color:#0067ff;
color:white;
font-size:25px;
border:none;
padding:20px;
}
.dropdownbtn:hover{
background-color:#a056cf;

}

.dropdown:hover .dropdown-content{
display:block;
}
.dropdown-content a{
text-decoration:none;
display:block;
color:white;
padding:12px 14px;
}
.dropdown-content a:hover{
background-color:#111;
}