<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>servlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FirstServlet</display-name>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>com.ashish.FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/FirstServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckBox</display-name>
    <servlet-name>CheckBox</servlet-name>
    <servlet-class>com.ashish.CheckBox</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckBox</servlet-name>
    <url-pattern>/CheckBox</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RadioButtonEx</display-name>
    <servlet-name>RadioButtonEx</servlet-name>
    <servlet-class>com.ashish.RadioButtonEx</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RadioButtonEx</servlet-name>
    <url-pattern>/RadioButtonEx</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginForward</display-name>
    <servlet-name>LoginForward</servlet-name>
    <servlet-class>com.ashish.LoginForward</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginForward</servlet-name>
    <url-pattern>/LoginForward</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginForwardResult</display-name>
    <servlet-name>LoginForwardResult</servlet-name>
    <servlet-class>com.ashish.LoginForwardResult</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginForwardResult</servlet-name>
    <url-pattern>/LoginForwardResult</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendRedirect</display-name>
    <servlet-name>SendRedirect</servlet-name>
    <servlet-class>com.ashish.SendRedirect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendRedirect</servlet-name>
    <url-pattern>/SendRedirect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletConfigEx</display-name>
    <servlet-name>ServletConfigEx</servlet-name>
    <servlet-class>com.ashish.ServletConfigEx</servlet-class>
    <init-param>
      <param-name>username</param-name>
      <param-value>system</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>oracle</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletConfigEx</servlet-name>
    <url-pattern>/servlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletContextEx</display-name>
    <servlet-name>ServletContextEx</servlet-name>
    <servlet-class>com.ashish.ServletContextEx</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletContextEx</servlet-name>
    <url-pattern>/ServletContextEx</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>name</param-name>
    <param-value>Ashish</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.ashish.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.ashish.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileServlet</display-name>
    <servlet-name>ProfileServlet</servlet-name>
    <servlet-class>com.ashish.ProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileServlet</servlet-name>
    <url-pattern>/ProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetAttribute</display-name>
    <servlet-name>SetAttribute</servlet-name>
    <servlet-class>com.ashish.SetAttribute</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetAttribute</servlet-name>
    <url-pattern>/SetAttribute</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAttribute</display-name>
    <servlet-name>GetAttribute</servlet-name>
    <servlet-class>com.ashish.GetAttribute</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAttribute</servlet-name>
    <url-pattern>/GetAttribute</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HiddenForm1</display-name>
    <servlet-name>HiddenForm1</servlet-name>
    <servlet-class>com.ashish.HiddenForm1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HiddenForm1</servlet-name>
    <url-pattern>/HiddenForm1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HiddenForm2</display-name>
    <servlet-name>HiddenForm2</servlet-name>
    <servlet-class>com.ashish.HiddenForm2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HiddenForm2</servlet-name>
    <url-pattern>/HiddenForm2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UrlServlet1</display-name>
    <servlet-name>UrlServlet1</servlet-name>
    <servlet-class>com.ashish.UrlServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UrlServlet1</servlet-name>
    <url-pattern>/UrlServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UrlServlet2</display-name>
    <servlet-name>UrlServlet2</servlet-name>
    <servlet-class>com.ashish.UrlServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UrlServlet2</servlet-name>
    <url-pattern>/UrlServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet_Session</display-name>
    <servlet-name>LoginServlet_Session</servlet-name>
    <servlet-class>com.ashish.LoginServlet_Session</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet_Session</servlet-name>
    <url-pattern>/LoginServlet_Session</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet_Session</display-name>
    <servlet-name>LogoutServlet_Session</servlet-name>
    <servlet-class>com.ashish.LogoutServlet_Session</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet_Session</servlet-name>
    <url-pattern>/LogoutServlet_Session</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileServlet_Session</display-name>
    <servlet-name>ProfileServlet_Session</servlet-name>
    <servlet-class>com.ashish.ProfileServlet_Session</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileServlet_Session</servlet-name>
    <url-pattern>/ProfileServlet_Session</url-pattern>
  </servlet-mapping>
</web-app>